*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(fifa.jpg);
	height : 100vh;
	bacground-size : cover;
	background-position: center;
}
.main-nav
{
	float: right;
	list- style: none;
	margin-top:30px;
}
.main-nav li
 {
	display:inline-block;
}
.main-nav li a
{
	color:white;
	text-decoration: none;
	padding : 5px 20px;
	font-family: "Roboto",sans-serif;
	font-size :15px;
}

.main-nav li.active a	
{
	border: 1px solid white;
}
.main-nav li a:hover
{
	border: 1px solid white;
}
.logo img
{
	width: 150px;
	height: auto;
	float: left;
}
body
{
	font-family: monospace;
}
.row
{
	max-width: 1200px;
	margin: auto;


}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;

}

.container .btn:hover {
    background-color: black;
    color: white;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: left;


}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}


